* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#img-div {
  text-align: center;
}

#image {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  line-height: 1.6;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

li {
  padding: 5px;
}

nav {
  text-align: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
  ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  ul {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
}