* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#img-div {
  text-align: center;
}

#image {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
}